%table.table.table-bordered.table-striped
  %thead
    %tr
      %td 順位
      %td 名前
      %td サークル
      %td 合計得点
      %td サークル得点
  %tbody
    - last_score = 0
    - last_rank = 1
    - Master::User.order('total_score desc').each_with_index do |master_user, index|
      - cache master_user do
        - unless last_score == master_user.total_score
          - last_score = master_user.total_score
          - last_rank = index + 1
        %tr
          %td= last_rank
          %td= master_user.name
          %td= master_user.circle_name
          %td= master_user.total_score
          %td= master_user.individual_point ? master_user.individual_point : 0
