%table.table.table-bordered.table-striped
  %thead
    %tr
      %td 順位
      %td 名前
      %td サークル
      %td 合計得点
      %td サークル得点
  %tbody
    - Master::User.order('total_score desc').each_with_rank_by(:total_score) do |master_user, rank|
      - cache master_user do
        %tr
          %td= rank
          %td= master_user.name
          %td= master_user.circle_name
          %td= master_user.total_score
          %td= master_user.individual_point ? master_user.individual_point : 0
