%table.table.table-bordered.table-striped
  %thead
    %tr
      %td 順位
      %td 名前
      - game.master_musics.each_with_index do |master_music, index|
        - cache master_music do
          %td{ colspan: 2 }
            課題曲#{index + 1}
            「#{master_music.title}」
  %tbody
    - cache game do
      - Master::User.order('total_score desc').each_with_rank do |master_user, rank|
        %tr
          %td= rank
          %td= master_user.name

          - first_music_id = game.master_musics.where(music_order: 1).pluck(:id)
          - first_master_score = Master::Score.where(master_music_id: first_music_id, master_user_id: master_user.id).first
          %td= first_master_score ? first_master_score.score : 0
          %td= first_master_score ? first_master_score.basic_score : 0

          - second_music = game.master_musics.where(music_order: 2).first
          - master_score = Master::Score.where(master_music_id: second_music.id, master_user_id: master_user.id).first
          %td= master_score ? master_score.score : 0
          - if master_score.basic_score > second_music.insurance_score
            %td= master_score.basic_score
          - else
            %td
              %span.insurance_score= second_music.insurance_score
              (#{master_score.basic_score})
