%table.table.table-bordered.table-striped
  %thead
    %tr
      %td 順位
      %td 名前
      - game.master_musics.each_with_index do |music, index|
        %td{ colspan: 2 }
          課題曲#{index + 1}
          「#{music.title}」
  %tbody
    - last_score = 0
    - last_rank = 1
    - Master::User.order('total_score desc').each_with_index do |user, index|
      - unless last_score == user.total_score
        - last_score = user.total_score
        - last_rank = index + 1
      %tr
        %td= last_rank
        %td= user.name
        - game.master_musics.where(music_order: 1).each do |music|
          - master_score = Master::Score.where(master_music_id: music.id, master_user_id: user.id).first
          %td= master_score ? master_score.score : 0
          %td= master_score ? master_score.basic_score : 0
        - game.master_musics.where(music_order: 2).each do |music|
          - master_score = Master::Score.where(master_music_id: music.id, master_user_id: user.id).first
          %td= master_score ? master_score.score : 0
          - if master_score.basic_score > music.insurance_score
            %td= master_score.basic_score
          - else
            %td
              %span.insurance_score= music.insurance_score
              (#{master_score.basic_score})
