= content_for :js do
  = javascript_include_tag 'masters/index'

%h2
  マスター部門
  - if @twitter_account
    - if @twitter_account.user.present?
      - if @twitter_account.user.circle_id != 0
        = link_to 'スコアを編集する', edit_master_path, class: 'btn btn-primary'
      - else
        %a{href: edit_user_path, style: 'font-size: 18px; color: #00a;'} 所属サークルを設定するとスコアが登録できるようになります
    - elsif @twitter_account.circle.present?
      .btn-group
        = link_to '#', class: 'btn btn-primary dropdown-toggle', :'data-toggle' => 'dropdown' do
          サークルメンバーのスコアを編集する
          %span.caret
        %ul.dropdown-menu
          - @twitter_account.circle.users.each do |user|
            %li= link_to user.name, master_circle_edit_user_path(user)

%p 現在、得点計算は調整中です。ご迷惑をお掛けいたします。

%ul.nav.nav-tabs
  %li.active
    = link_to '個人得点ランキング', '#users', :'data-toggle' => 'tab'
  - Game.all.each do |game|
    %li
      = link_to game.title, "#game#{game.id}", :'data-toggle' => 'tab'
  %li
    = link_to '曲目', '#musics', :'data-toggle' => 'tab'

.tab-content
  #users.tab-pane.active
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %td 順位
          %td 名前
          %td サークル
          %td 合計得点
      %tbody
        - last_score = 0
        - last_rank = 1
        - @users.each_with_index do |user, index|
          - unless last_score == user.total_score
            - last_score = user.total_score
            - last_rank = index + 1
          %tr
            %td= last_rank
            %td= user.name
            %td= user.circle_name
            %td= user.total_score

  - Game.all.each do |game|
    .tab-pane.active{ id: "game#{game.id}" }
      Now Loading...

  #musics.tab-pane
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %td 機種
          %td{ colspan: 2 } 課題曲その1（KAC関係なく簡単なもの）
          %td{ colspan: 2 } 課題曲その2（KACに被せる）
      %tbody
        - Game.all.each do |game|
          %tr
            %td= game.title
            - game.master_musics.each do |music|
              %td= music.difficulty
              %td= music.title
