= content_for :js do
  = javascript_include_tag 'masters/index'

%h2
  マスター部門
  - if @twitter_account && Date.today < Date.new(2013, 12, 3)
    - if @twitter_account.user.present?
      - if @twitter_account.user.circle_id != 0
        = link_to 'スコアを編集する', edit_master_path, class: 'btn btn-primary'
      - else
        %a{href: edit_user_path, style: 'font-size: 18px; color: #00a;'} 所属サークルを設定するとスコアが登録できるようになります
    - elsif @twitter_account.circle.present?
      .btn-group
        = link_to '#', class: 'btn btn-primary dropdown-toggle', :'data-toggle' => 'dropdown' do
          サークルメンバーのスコアを編集する
          %span.caret
        %ul.dropdown-menu
          - @twitter_account.circle.users.each do |user|
            %li= link_to user.name, master_circle_edit_user_path(user)

%p 課題曲2は、基準点を下回る場合、基準点がスコアとして保証されます。

%ul.nav.nav-tabs
  %li.active
    = link_to '個人得点ランキング', '#users', :'data-toggle' => 'tab'
  - Game.all.each do |game|
    - cache game do
      %li
        = link_to game.title, "#game#{game.id}", :'data-toggle' => 'tab'
  %li
    = link_to '曲目', '#musics', :'data-toggle' => 'tab'

.tab-content
  #users.tab-pane.active
    Now Loading...

  - Game.all.each do |game|
    .tab-pane{ id: "game#{game.id}" }
      Now Loading...

  #musics.tab-pane
    Now Loading...
