= content_for :js do
  = javascript_include_tag 'games/index'

%h2
  機種別部門
  - if @twitter_account
    - if @twitter_account.user.present?
      = link_to 'スコアを編集する', edit_game_path, class: 'btn btn-primary'
    - elsif @twitter_account.circle.present?
      .btn-group
        = link_to '#', class: 'btn btn-primary dropdown-toggle', :'data-toggle' => 'dropdown' do
          サークルメンバーのスコアを編集する
          %span.caret
        %ul.dropdown-menu
          - @twitter_account.circle.users.each do |user|
            %li= link_to user.name, games_circle_edit_user_path(user)

%ul.nav.nav-tabs
  - Game.all.each_with_index do |game, index|
    %li{ class: index == 0 ? 'active' : '' }
      = link_to game.title, "#game#{game.id}", :'data-toggle' => 'tab'
  %li= link_to '曲目', "#game#{0}", :'data-toggle' => 'tab'

.tab-content
  - Game.all.each_with_index do |game, index|
    .tab-pane{ class: index == 0 ? 'active' : '', id: "game#{game.id}" }
      Now Loading...

  #game0.tab-pane
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %td 機種
          %td{ colspan: 2 } 課題曲1
          %td{ colspan: 2 } 課題曲2
          %td{ colspan: 2 } 課題曲3
      %tbody
        - Game.all.each do |game|
          %tr
            %td= game.title
            - game.game_musics.each do |music|
              %td= music.difficulty
              %td= music.title
