%h2
  機種別部門
  - if @twitter_account && @twitter_account.user.present?
    = link_to 'スコアを編集する', '#', class: 'btn btn-primary'

%ul.nav.nav-tabs
  - Game.all.each_with_index do |game, index|
    %li{ class: index == 0 ? 'active' : '' }
      = link_to game.title, "#game#{game.id}", :'data-toggle' => 'tab'

.tab-content
  - Game.all.each_with_index do |game, index|
    .tab-pane{ class: index == 0 ? 'active' : '' }
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %td 順位
            %td サークル
            %td スコア
        %tbody
          - last_score = 0
          - last_rank = 1
          - [].each_with_index do |circle, index|
            - unless last_score == circle.total_score
              - last_score = cicle.total_score
              - last_rank = index + 1
            %tr
              %td= last_rank
              %td= circle.name
              %td= circle.total_score
