%table.table.table-bordered.table-striped
  %thead
    %tr
      %th 順位
      %th サークル
      %th 大学
      %th 得点
      %th 参加人数
  %tbody
    - Circle.order('point DESC').each_with_rank_by(:point) do |circle, rank|
      - cache circle do
        %tr
          %td= rank
          %td= link_to circle.name, circle_path(circle)
          %td= circle.university
          %td= circle.point ? circle.point : 0
          %td= circle.users.count
