= content_for :js do
  = javascript_include_tag 'circles/index'

= link_to 'ホームに戻る', root_url

%h1 サークル得点
%p 合計参加人数 #{User.count}名
%p サークル得点は、以下の4つにより決まります。
%ul
  %li マスター部門個人ランキング
  %li マスター部門機種別サークル平均ランキング
  %li マスター部門サークル総合平均ランキング
  %li 機種別部門個人ランキング

%ul.nav.nav-tabs
  %li.active
    = link_to '総合ランキング', '#circles', :'data-toggle' => 'tab'
  %li
    = link_to 'マスター部門個人', '#master_individual', :'data-toggle' => 'tab'
  %li
    = link_to 'マスター部門機種別', '#master_games', :'data-toggle' => 'tab'
  %li
    = link_to 'マスター部門サークル総合', '#master_average', :'data-toggle' => 'tab'
  %li
    = link_to '機種別部門個人', '#games', :'data-toggle' => 'tab'

.tab-content
  #circles.tab-pane.active
    Now Loading...

  #master_individual.tab-pane
    Now Loading...

  #master_games.tab-pane
    Now Loading...

  #master_average.tab-pane
    Now Loading...

  #games.tab-pane
    Now Loading...
