= link_to 'サークル一覧に戻る', circles_path

%h2
  = @circle.university
  = @circle.name
%p
  = link_to 'サークルホームページ', @circle.url
  大会参加人数 #{@circle.users.count}名
%p 部内順位は、マスター部門でのものです。

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th.span2 部内順位
      %th 名前
      %th Twitter
      %th マスター部門得点
  %tbody
    - @circle.master_users.order('total_score desc').each_with_rank_by(:total_score) do |master_user, rank|
      - cache master_user do
        %tr
          %td= rank
          %td= master_user.user.name
          - screen_name = master_user.user.twitter_account.screen_name
          %td= link_to "@#{screen_name}", "https://twitter.com/#{screen_name}"
          %td= master_user.total_score
