%header
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        = link_to 'BACU', root_url, class: 'brand'
        %ul.nav
          %li.active= link_to 'ホーム', root_url
          %li= link_to 'ページ一覧', entries_path
        %ul.nav.pull-right
          - if @twitter_account
            %li.dropdown
              = link_to '#', class: 'dropdown-toggle', :'data-toggle' => 'dropdown' do
                = @twitter_account.screen_name
                %b.caret
              %ul.dropdown-menu
                - if @twitter_account.registered?
                  %li= link_to 'hoge', '#'
                - else
                  %li= link_to 'エントリーする', registration_path
          - else
            %li= link_to 'Twitterでログイン', '/auth/twitter'
